.container{
    margin-bottom: 50px;
}
.carousel-item{
   
    padding: 20px 40px;
   
}

.buy-now {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container{
    margin-bottom: 50px;
}

.phn{
    border:none
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
}
.cat-border {
  border-bottom: 10px solid #FFBB24;
  border-radius: 5px;
  margin-bottom: 20px;
}
.category-item {
  padding: 20px 20px;
}

.card-item {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 10px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
