.container{
    margin-bottom: 50px;
}
.carousel-item{
   
    padding: 20px 40px;
   
}

.buy-now {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container{
    margin-bottom: 50px;
}

.phn{
    border:none
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
}
.cat-border {
  border-bottom: 10px solid #FFBB24;
  border-radius: 5px;
  margin-bottom: 20px;
}
